<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo de Damas</title>
    <link rel="icon" href="3716pecaDama.ico" type="image/x-icon">
    <link rel="stylesheet" href="jogar.css">

</head>
<script>
    var novoTabuleiro = '{{dados.tabuleiro}}';
    var totalBrancas = "{{dados.totalBrancas}}";
    var totalPretas = "{{dados.totalPretas}}";
    var playerAtual = "{{dados.jogadorAtual}}";
    var contDamas = "{{dados.contadorDamas}}";
    var contForca = "{{dados.contadorForca}}";
    var jogPos = "{{dados.jogadasPossiveis}}";
    var destino = "{{dados.destino}}";
    jogPos = jogPos.split(",");

    playerAtual = playerAtual.split(",")
    var array = [];
    var cont = 0;
    var tabuleiroDividido = novoTabuleiro.split(",");

    for (let i = 0; i < 8; i++) {
        array[i] = [];
        for (let j = 0; j < 8; j++) {
            array[i][j] = tabuleiroDividido[cont];
            cont++;
        }
    }

</script>

<body>
    <div id="jogadorVez">
        <div id="apoio">
            <a href="/reset"><img src="costas.png" id="reiniciar"></a>
            <h3>Vez das:</h3>
            <img src="pecaBranca.png" alt="" height="45px" width="45px" id="vez">
            <a id='desistir' href='#' onclick="desistir();">Desistir</a>
        </div>
    </div>
    <div class="container">
        <div id="botao"><a href="/">Voltar</a></div>
        <div class="ladoEsquerdo">
            <img src="pecaBranca.png" alt="Peça Branca">
            <h1 id="quantBranco">Quantidade Peças: <span id="quantPecasBrancas"></span></h1>
        </div>
        <div class="tabuleiro">
            {{{data}}}  
        </div>
        <div class="ladoDireito">
            <img src="pecaPreta.png" alt="Peça Preta">
            <h1 id="quantPreto">Quantidade Peças: <span id="quantPecasPretas"></span></h1>
        </div>

    </div>

</body>
<script src="logica.js"></script>

</html>