<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jogo de Damas</title>
  <link rel="icon" href="3716pecaDama.ico" type="image/x-icon">
  <link rel="stylesheet" href="jogar.css">

</head>
<script>
  //Recebimento dos dados do servidor
  var novoTabuleiro = '{{dados.tabuleiro}}';
  var totalBrancas = "{{dados.totalBrancas}}";
  var totalPretas = "{{dados.totalPretas}}";
  var playerAtual = "{{dados.jogadorAtual}}";
  var contDamas = "{{dados.contadorDamas}}";
  var contForca = "{{dados.contadorForca}}";
  var jogPos = "{{dados.jogadasPossiveis}}";
  var destino = "{{dados.destino}}";
  var winner = {{hasWinner}};
  jogPos = jogPos.split(",");

  playerAtual = playerAtual.split(",")

  //Transformar o tabuleiro do servidor que vem como string em um array bidimensional
  var array = [];
  var cont = 0;
  var tabuleiroDividido = novoTabuleiro.split(",");

  for (let i = 0; i < 8; i++) {
    array[i] = [];
    for (let j = 0; j < 8; j++) {
      array[i][j] = tabuleiroDividido[cont];
      cont++;
    }
  }

</script>

<body>
  <div id="jogadorVez">
    <div id="apoio">
      <a href="/reset"><img src="costas.png" id="reiniciar"></a>
      <h3>Vez das:</h3>
      {{{ currentPlayer }}}
      {{{ giveupButton }}}
      {{!-- <a id='desistir' href='#' onclick="desistir();">Desistir</a> --}}
    </div>
  </div>
  <div class="container">
    <div id="botao"><a href="/">Voltar</a></div>
    <div class="ladoEsquerdo">
      <img src="pecaBranca.png" alt="Peça Branca">
      <h1 id="quantBranco">Quantidade Peças: <span id="quantPecasBrancas">{{ dados.totalBrancas }}</span></h1>
    </div>

    {{{ board }}}

    {{#if hasWinner}}
    <div class="winner">
      <p id="winner">{{ winner.name }}</p>
      <p id="win-condition">{{ winner.condition }}</p>
    </div>
    {{/if}}
    {{#if hasDraw}}
    <div class="draw">
      <p id="draw">O jogo terminou empatado!</p>
      <p id="draw-condition">{{ draw.condition }}</p>
    </div>
    {{/if}}
    {{#if giveUp}}
    <div class="giveup">
      <p id="giveup">{{ giveup.winner }}</p>
      <p id="giveup-condition">{{ giveup.condition }}</p>
    </div>
    {{/if}}
    <div class="ladoDireito">
      <img src="pecaPreta.png" alt="Peça Preta">
      <h1 id="quantPreto">Quantidade Peças: <span id="quantPecasPretas">{{ dados.totalPretas }}</span></h1>
    </div>
  </div>

</body>
<script src="logica.js"></script>

</html>